<div class="login-body">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="form-wrapper">
      <h1 class="login">新規登録</h1>
      <form>
        <div class="form-item">
          <label for="name"></label>
          <%= f.text_field :name, autofocus: true, autocomplete: "name" ,placeholder:
          "Username",class: "font-awesome" %>
        </div>
        <div class="form-item">
          <label for="email"></label>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" ,placeholder: "Email"%>
        </div>

        <div class="form-item">
          <label for="password"></label>
            <%= f.password_field :password, autocomplete: "new-password",placeholder: "Password(6文字以上)" %>
        </div>
        <div class="form-item">
          <label for="password"></label>
          <%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder: "Password(確認)" %>
        </div>

        <div class="button-panel">
          <%= f.submit "新規登録", class: "button" %>
        </div>
      </form>
      <div class="form-footer">
        <p><%= render "devise/shared/links" %></p>
      </div>
    </div>
  <% end %>
</div>
