<div class='row justify-content-center'>
<table class='table table table-dark'>
  <tr>
    <%= attachment_image_tag user, :profile_image, format: 'jpeg'  ,class:"img-fluid" ,fallback: "no_image.jpg",size: "100x100" %></tr>
	  <th>名前</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>紹介文</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>所属</th>
    <th><%= user.belong %></th>
  </tr>
  <tr>
  <th>資格</th>
  <th><%= user.capacity_status %></th>
  </tr>
</table>

<% if user==current_user %>
  <%= link_to '編集する', edit_user_path(user), class: "btn btn-dark btn-sm" %>
<% end %>
</div>

