<div class="login-body">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="form-wrapper">
    <h1 class="login">LOG IN</h1>
    <form>
      <div class="form-item">
        <label for="email"></label>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" ,placeholder: "Email"%>
      </div>
      <div class="form-item">
        <label for="password"></label>
        <%= f.password_field :password, autocomplete: "current-password",placeholder: "Password" %>
      </div>
      <div class="button-panel">
        <%= f.submit "Log In", class: "button" %>
      </div>
    </form>
    <div class="form-footer">
      <p><%= render "devise/shared/links" %></p>
    </div>
  </div>
  <% end %>
</div>
