<div class="row">
  <%= render'layouts/sidebar' %>
  <div class="col-10 background px-0">
    <div class="text-center">
      <div class="col border-bottom border-dark" style="background-color:rgba(0,0,0,0.5);">
        <h1 class="top-text">新規募集</h1>
      </div>
    </div>
    <div class="row justify-content-center my-3">
      <div class="col-6 border p-0" style="background-color:white;">
        <div class="write_header">
          <h2 class="p-3" style="color:white;">
            新規募集</h2>
        </div>
        <div class="write_body">
          <%= form_for @recruit,:url => {:action => :create} do |f| %>
          <div class="mt-2">
            <%= f.label :日付 %>
            <%= f.date_field :date %>
          </div>
          <div class="mt-2">
            <%= f.label :title %>
            <%= f.text_field :title,　class: "hoge", size: 30 %>
          </div>
          <div class="mt-2">
            <%= f.label :謝礼 %>
            <%= f.text_field :reward,　class: "hoge", size: 30 %>
          </div>
          <div class="mt-2">
            <%= f.label :場所 %>
            <%= f.text_field :position,　class: "hoge", size: 30 %>
          </div>
          <div class="mt-2">
            <%= f.label :概要 %><br>
            <%= f.text_area :body,　class: "hoge", size: "50x10" %>
          </div>
          <div class="tags my-2 text-center">
            <%= f.submit "登録",class: "btn btn-dark" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>