<div class="container-fluid">
  <h2>記事詳細</h2>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 text-center">
      <div class="show-title">
        <h3>タイトル ： <%= @recruit.title %></h3>
        <p> 投稿者 ：   <%= link_to user_path(@recruit.user) do %>
        <%= attachment_image_tag(@recruit.user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg") %>
            <%= @recruit.user.name %></p>
            <% end %>
        <p> 投稿日 ： <%= @recruit.created_at %></p>
      </div>
      <!--いいね数-->
      <div id="favorite-count">
        <p><%= render "favorites/favorite-btn", recruit: @recruit %> <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <h3>概要</h3>
    <p><%= @recruit.body %></p>
    <h3>会場：場所</h3>
    <p><%= @recruit.position %></p>
    <h3>謝礼</h3>
    <p><%= @recruit.reward %>　円</p>
    <br>
         <% if @recruit.user == current_user %>
        <i><%= link_to '編集', edit_recruit_path(@recruit), class: "btn-sm btn-success edit_recruit_path_#{@recruit.id}" %></i>
        <i><%= link_to '消去', recruit_path(@recruit), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn-sm btn-danger destroy_recuit_#{@recruit.id}"%></i>
     <% end %>
    <h3>コメント <%= @recruit.recruit_comments.count %>件</h3>
    <%= render "recruits/recruit_comment", recruit: @recruit, recruit_comment: @recruit_comment %>
  </div>
</div>